* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v55_43 {
  width: 834px;
  height: 1194px;
  background: rgba(94,100,229,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v55_44 {
  width: 423px;
  height: 84px;
  background: url("../images/v55_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 206px;
  overflow: hidden;
}
.v55_45 {
  width: 423px;
  height: 84px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 47px;
  border-top-right-radius: 47px;
  border-bottom-left-radius: 47px;
  border-bottom-right-radius: 47px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v55_47 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 86px;
  left: 370px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v55_48 {
  width: 423px;
  height: 84px;
  background: url("../images/v55_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 205px;
  left: 207px;
  overflow: hidden;
}
.v55_49 {
  width: 423px;
  height: 84px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 47px;
  border-top-right-radius: 47px;
  border-bottom-left-radius: 47px;
  border-bottom-right-radius: 47px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v55_50 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 111px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v55_51 {
  width: 423px;
  height: 84px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 343px;
  left: 206px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v55_52 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 366px;
  left: 368px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v55_53 {
  width: 423px;
  height: 84px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 504px;
  left: 207px;
  border-top-left-radius: 47px;
  border-top-right-radius: 47px;
  border-bottom-left-radius: 47px;
  border-bottom-right-radius: 47px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v55_54 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 525px;
  left: 320px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v55_55 {
  width: 423px;
  height: 84px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 665px;
  left: 207px;
  border-top-left-radius: 47px;
  border-top-right-radius: 47px;
  border-bottom-left-radius: 47px;
  border-bottom-right-radius: 47px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v55_56 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 686px;
  left: 375px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v55_57 {
  width: 423px;
  height: 84px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 826px;
  left: 209px;
  border-top-left-radius: 47px;
  border-top-right-radius: 47px;
  border-bottom-left-radius: 47px;
  border-bottom-right-radius: 47px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v55_58 {
  width: 85px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 847px;
  left: 374px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v55_59 {
  width: 91px;
  height: 91px;
  background: url("../images/v55_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
