* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v8_34 {
  width: 732px;
  height: 407px;
  background: rgba(227,151,151,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v38_49 {
  width: 670px;
  height: 394px;
  background: url("../images/v38_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 15px;
  overflow: hidden;
}
.v8_35 {
  width: 187px;
  color: rgba(97,97,97,1);
  position: absolute;
  top: 30px;
  left: 262px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v8_36 {
  width: 360px;
  height: 71px;
  background: rgba(97,97,97,1);
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 171px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v8_37 {
  width: 629px;
  height: 166px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 228px;
  left: 41px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}
.v8_41 {
  width: 611px;
  height: 158px;
  background: url("../images/v8_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 236px;
  left: 50px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}
.v8_43 {
  width: 207px;
  color: rgba(97,97,97,1);
  position: absolute;
  top: 181px;
  left: 253px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v8_51 {
  width: 50px;
  height: 50px;
  background: url("../images/v8_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 77px;
  border-top-right-radius: 77px;
  border-bottom-left-radius: 77px;
  border-bottom-right-radius: 77px;
  overflow: hidden;
}
