* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v64_23 {
  width: 834px;
  height: 1194px;
  background: rgba(0,241,139,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v64_24 {
  width: 423px;
  height: 84px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 205px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v64_25 {
  width: 423px;
  height: 84px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 205px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v64_26 {
  width: 423px;
  height: 84px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 442px;
  left: 205px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v64_27 {
  width: 423px;
  height: 84px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 605px;
  left: 205px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v64_28 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 137px;
  left: 361px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v64_29 {
  width: 125px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 300px;
  left: 367px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v64_30 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 463px;
  left: 360px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v64_31 {
  width: 165px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 626px;
  left: 338px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v64_33 {
  width: 91px;
  height: 91px;
  background: url("../images/v64_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
