* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v38_48 {
    width: 834px;
    height: 1194px;
    background: url("../images/ceaser_salad.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v5_2 {
    width: 834px;
    height: 1190px;
    background: rgba(145,148,240,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v7_6 {
    width: 101px;
    height: 101px;
    background: url("../images/home_button.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom-right-radius: 38px;
    overflow: hidden;
  }
  .v8_9 {
    width: 249px;
    height: 128px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 585px;
    border-bottom-left-radius: 50px;
    overflow: hidden;
  }

  .v8_11 {
    width: 495px;
    height: 95px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 193px;
    left: 30px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    overflow: hidden;
  }
  .v8_13 {
    width: 495px;
    height: 95px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 370px;
    left: 30px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    overflow: hidden;
  }
  .v8_10 {
    width: 198px;
    background: rgba(217,217,217,1);
    position: absolute;
    top: 27px;
    left: 613px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v8_14 {
    width: 434px;
    background: rgb(217,217,217,1);
    position: absolute;
    top: 220px;
    left: 61px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 35px;
    opacity: 1;
    text-align: center;
  }
  .v8_12 {
    width: 834px;
    height: 585px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 609px;
    left: 0px;
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
    overflow: hidden;
  }
  .v8_8 {
    width: 398px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 397px;
    left: 79px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v8_16 {
    width: 510px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 671px;
    left: 162px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v8_17 {
    width: 776px;
    height: 109px;
    background: rgba(148,228,119,1);
    opacity: 1;
    position: absolute;
    top: 748px;
    left: 35px;
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    overflow: hidden;
  }
  .v8_29 {
    width: 776px;
    height: 109px;
    background: rgba(148,228,119,1);
    opacity: 1;
    position: absolute;
    top: 1036px;
    left: 35px;
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    overflow: hidden;
  }
  .v8_22 {
    width: 768px;
    height: 109px;
    background: rgba(148,228,119,1);
    opacity: 1;
    position: absolute;
    top: 892px;
    left: 43px;
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    overflow: hidden;
  }
  .v8_19 {
    width: 137px;
    height: 86px;
    background: url("../images/chicken_curry.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 760px;
    left: 643px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    overflow: hidden;
  }
  .v8_20 {
    width: 310px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 782px;
    left: 204px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 35px;
    opacity: 1;
    text-align: center;
  }
  .v8_27 {
    width: 137px;
    height: 95px;
    background: url("../images/ceaser_salad.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 899px;
    left: 643px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    overflow: hidden;
  }
  .v8_28 {
    width: 292px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 926px;
    left: 213px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 35px;
    opacity: 1;
    text-align: center;
  }
  .v8_32 {
    width: 137px;
    height: 86px;
    background: url("../images/pork_burrito.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1047px;
    left: 643px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    overflow: hidden;
  }
  .v8_33 {
    width: 284px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1069px;
    left: 217px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 35px;
    opacity: 1;
    text-align: center;
  }
  