* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v4_2 {
    width: 834px;
    height: 1196px;
    background: rgba(255,255,255,1);
    margin: 10px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v38_45 {
    width: 834px;
    height: 1196px;
    background: url("../images/v38_45.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v4_4 {
    width: 834px;
    height: 100%;
    background: url("../images/strong_man_rehab.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
    overflow: hidden;
  }
  .v7_4 {
    width: 91px;
    height: 91px;
    background: url("../images/home_button.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  