* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v33_2 {
  width: 834px;
  height: 1194px;
  background: rgba(61,215,215,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v38_3 {
  width: 531px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 61px;
  left: 151px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v38_23 {
  width: 782px;
  height: 84px;
  background: url("../images/v38_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 26px;
  overflow: hidden;
}
.v38_4 {
  width: 782px;
  height: 84px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 47px;
  border-top-right-radius: 47px;
  border-bottom-left-radius: 47px;
  border-bottom-right-radius: 47px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v38_12 {
  width: 115px;
  height: 46px;
  background: rgba(193,193,193,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 598px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v38_11 {
  width: 115px;
  height: 46px;
  background: rgba(193,193,193,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 436px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v38_10 {
  width: 115px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v38_24 {
  width: 782px;
  height: 84px;
  background: url("../images/v38_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 26px;
  overflow: hidden;
}
.v38_6 {
  width: 782px;
  height: 84px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 47px;
  border-top-right-radius: 47px;
  border-bottom-left-radius: 47px;
  border-bottom-right-radius: 47px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v38_13 {
  width: 290px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 24px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v38_14 {
  width: 115px;
  height: 46px;
  background: rgba(193,193,193,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 436px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v38_15 {
  width: 115px;
  height: 46px;
  background: rgba(193,193,193,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 598px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v38_25 {
  width: 782px;
  height: 84px;
  background: url("../images/v38_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 410px;
  left: 26px;
  overflow: hidden;
}
.v38_7 {
  width: 782px;
  height: 84px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 47px;
  border-top-right-radius: 47px;
  border-bottom-left-radius: 47px;
  border-bottom-right-radius: 47px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v38_17 {
  width: 263px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 24px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v38_18 {
  width: 115px;
  height: 46px;
  background: rgba(193,193,193,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 436px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v38_19 {
  width: 115px;
  height: 46px;
  background: rgba(193,193,193,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 598px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v38_26 {
  width: 782px;
  height: 84px;
  background: url("../images/v38_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 555px;
  left: 26px;
  overflow: hidden;
}
.v38_8 {
  width: 782px;
  height: 84px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 47px;
  border-top-right-radius: 47px;
  border-bottom-left-radius: 47px;
  border-bottom-right-radius: 47px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v38_20 {
  width: 259px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 24px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v38_21 {
  width: 115px;
  height: 46px;
  background: rgba(193,193,193,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 436px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v38_22 {
  width: 115px;
  height: 46px;
  background: rgba(193,193,193,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 598px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v38_27 {
  width: 782px;
  height: 84px;
  background: url("../images/v38_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 838px;
  left: 26px;
  overflow: hidden;
}
.v38_28 {
  width: 782px;
  height: 84px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 47px;
  border-top-right-radius: 47px;
  border-bottom-left-radius: 47px;
  border-bottom-right-radius: 47px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v38_29 {
  width: 320px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 24px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v38_30 {
  width: 115px;
  height: 46px;
  background: rgba(193,193,193,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 436px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v38_31 {
  width: 115px;
  height: 46px;
  background: rgba(193,193,193,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 598px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v38_32 {
  width: 782px;
  height: 84px;
  background: url("../images/v38_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 697px;
  left: 26px;
  overflow: hidden;
}
.v38_33 {
  width: 782px;
  height: 84px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 47px;
  border-top-right-radius: 47px;
  border-bottom-left-radius: 47px;
  border-bottom-right-radius: 47px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v38_34 {
  width: 332px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 24px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v38_35 {
  width: 115px;
  height: 46px;
  background: rgba(193,193,193,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 436px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v38_36 {
  width: 115px;
  height: 46px;
  background: rgba(193,193,193,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 598px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v38_37 {
  width: 91px;
  height: 91px;
  background: url("../images/home_button.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.v64_35 {
  width: 106px;
  height: 108px;
  background: url("../images/check_button.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1018px;
  left: 364px;
  border-top-left-radius: 132px;
  border-top-right-radius: 132px;
  border-bottom-left-radius: 132px;
  border-bottom-right-radius: 132px;
  overflow: hidden;
}
