* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v38_47 {
    width: 834px;
    height: 1194px;
    background: url("../images/v38_47.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 10px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v8_47 {
    width: 834px;
    height: 1194px;
    background: rgba(238,145,240,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v13_91 {
    width: 782px;
    height: 84px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 186px;
    left: 26px;
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
    border-bottom-left-radius: 47px;
    border-bottom-right-radius: 47px;
    overflow: hidden;
  }
  .v13_92 {
    width: 782px;
    height: 84px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 344px;
    left: 26px;
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
    border-bottom-left-radius: 47px;
    border-bottom-right-radius: 47px;
    overflow: hidden;
  }
  .v13_96 {
    width: 782px;
    height: 84px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 978px;
    left: 26px;
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
    border-bottom-left-radius: 47px;
    border-bottom-right-radius: 47px;
    overflow: hidden;
  }
  .v13_95 {
    width: 782px;
    height: 84px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 820px;
    left: 26px;
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
    border-bottom-left-radius: 47px;
    border-bottom-right-radius: 47px;
    overflow: hidden;
  }
  .v13_94 {
    width: 782px;
    height: 84px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 662px;
    left: 26px;
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
    border-bottom-left-radius: 47px;
    border-bottom-right-radius: 47px;
    overflow: hidden;
  }
  .v13_93 {
    width: 782px;
    height: 84px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 504px;
    left: 26px;
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
    border-bottom-left-radius: 47px;
    border-bottom-right-radius: 47px;
    overflow: hidden;
  }
  .v8_52 {
    width: 91px;
    height: 91px;
    background: url("../images/home_button.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-bottom-right-radius: 38px;
    overflow: hidden;
  }
  .v13_53 {
    width: 347px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 207px;
    left: 38px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: center;
  }
  .v13_54 {
    width: 390px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 365px;
    left: 38px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: center;
  }
  .v13_55 {
    width: 255px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 523px;
    left: 38px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: center;
  }
  .v13_56 {
    width: 304px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 681px;
    left: 46px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: center;
  }
  .v13_57 {
    width: 274px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 839px;
    left: 46px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: center;
  }
  .v13_58 {
    width: 327px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 997px;
    left: 46px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: center;
  }
  .v13_60 {
    width: 115px;
    height: 46px;
    background: rgba(193,193,193,1);
    opacity: 1;
    position: absolute;
    top: 205px;
    left: 485px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_61 {
    width: 115px;
    height: 46px;
    background: rgba(193,193,193,1);
    opacity: 1;
    position: absolute;
    top: 205px;
    left: 647px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_62 {
    width: 76px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 124px;
    left: 505px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: center;
  }
  .v13_63 {
    width: 105px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 124px;
    left: 652px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: center;
  }
  .v13_64 {
    width: 115px;
    height: 46px;
    background: rgba(193,193,193,1);
    opacity: 1;
    position: absolute;
    top: 363px;
    left: 485px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_65 {
    width: 115px;
    height: 46px;
    background: rgba(193,193,193,1);
    opacity: 1;
    position: absolute;
    top: 363px;
    left: 652px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_68 {
    width: 115px;
    height: 46px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 523px;
    left: 480px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_69 {
    width: 115px;
    height: 46px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 523px;
    left: 647px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_73 {
    width: 115px;
    height: 46px;
    background: rgba(193,193,193,1);
    opacity: 1;
    position: absolute;
    top: 523px;
    left: 480px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_74 {
    width: 115px;
    height: 46px;
    background: rgba(193,193,193,1);
    opacity: 1;
    position: absolute;
    top: 523px;
    left: 647px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_75 {
    width: 115px;
    height: 46px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 681px;
    left: 485px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_76 {
    width: 115px;
    height: 46px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 681px;
    left: 652px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_77 {
    width: 115px;
    height: 46px;
    background: rgba(193,193,193,1);
    opacity: 1;
    position: absolute;
    top: 681px;
    left: 485px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_78 {
    width: 115px;
    height: 46px;
    background: rgba(193,193,193,1);
    opacity: 1;
    position: absolute;
    top: 681px;
    left: 652px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_83 {
    width: 115px;
    height: 46px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 839px;
    left: 485px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_84 {
    width: 115px;
    height: 46px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 839px;
    left: 652px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_85 {
    width: 115px;
    height: 46px;
    background: rgba(193,193,193,1);
    opacity: 1;
    position: absolute;
    top: 839px;
    left: 485px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_86 {
    width: 115px;
    height: 46px;
    background: rgba(193,193,193,1);
    opacity: 1;
    position: absolute;
    top: 839px;
    left: 652px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_87 {
    width: 115px;
    height: 46px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 997px;
    left: 480px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_88 {
    width: 115px;
    height: 46px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 997px;
    left: 647px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_89 {
    width: 115px;
    height: 46px;
    background: rgba(193,193,193,1);
    opacity: 1;
    position: absolute;
    top: 997px;
    left: 480px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_90 {
    width: 115px;
    height: 46px;
    background: rgba(193,193,193,1);
    opacity: 1;
    position: absolute;
    top: 997px;
    left: 647px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
  }
  .v13_72 {
    width: 309px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 24px;
    left: 262px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 33px;
    opacity: 1;
    text-align: center;
  }
  